[submodule "themes/clean-white"]
	path = themes/clean-white
	url = https://github.com/zhaohuabing/hugo-theme-cleanwhite.git
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
