baseURL = 'https://blog.antoinedelia.fr/'
languageCode = 'fr-FR'
title = 'Blog - Antoine Delia'
theme = "hugo-theme-cleanwhite"
preserveTaxonomyNames = true
googleAnalytics = "G-VD4VGXMSF2"

[pagination]
  pagerSize = 5

[outputs]
home = ["HTML", "RSS"]

[params]
  header_image = "img/bg.jpg"
  SEOTitle = "Blog - Antoine Delia"
  description = "See you later~"
  keyword = "Antoine Delia Blog"
  slogan = "~See you later~"

  image_404 = "img/bg.jpg"
  title_404 = "Il n'y a rien ici..."
  omit_categories = false

  # Sidebar settings
  sidebar_about_description = ""
  sidebar_avatar = "img/antoine_delia.jpg"      # use absolute URL, seeing it's used in both `/` and `/about/`

  featured_tags = true
  featured_condition_size = 3

  friends = false
  bookmarks = false
  about_me = true

  [params.social]
  rss            = true 
  linkedin       = "https://www.linkedin.com/in/antoinedelia"
  stackoverflow  = "https://stackoverflow.com/users/4141606/antoine-delia"
  github         = "https://github.com/antoinedelia"

[markup]
  [markup.tableOfContents]
    endLevel = 2
    startLevel = 1
  [markup.highlight]
    style = "dracula"
  [markup.goldmark]
    [markup.goldmark.renderer]
      unsafe = true
