name: 'Build and Deploy'

on:
  push:
    branches:
    - master
    paths: ['blog/**', 'terraform/**']
  pull_request:
  workflow_dispatch:
    inputs:
      force_deploy:
        description: 'Force a new deployment, ignoring path filters'
        required: true
        type: boolean
        default: false

jobs:
  terraform:
    name: '[Terraform] Plan & Apply'
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    defaults:
      run:
        shell: bash
        working-directory: terraform

    env:
      AWS_REGION: 'eu-west-1'
      TF_VAR_base_domain_name: 'antoinedelia.fr'
      TF_VAR_domain_name: 'blog.antoinedelia.fr'
      TF_VAR_bucket_name: ${{ secrets.AWS_S3_BUCKET }}

    steps:
    - uses: actions/checkout@v4
    - uses: dorny/paths-filter@v3
      id: filter
      with:
        filters: |
          terraform:
            - 'terraform/**'

    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v5
      with:
        role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
        aws-region: ${{ env.AWS_REGION }}
    
    # Install the latest version of Terraform CLI
    - name: Setup Terraform
      if: steps.filter.outputs.terraform == 'true'
      uses: hashicorp/setup-terraform@v3

    # Initialize a new or existing Terraform working directory by creating initial files, loading any remote state, downloading modules, etc.
    - name: Terraform Init
      if: steps.filter.outputs.terraform == 'true' || github.event.inputs.force_deploy == 'true'
      run: |
        terraform init \
          -backend-config="bucket=${{ secrets.S3_TERRAFORM_BUCKET }}" \
          -backend-config="key=${{ secrets.S3_TERRAFORM_STATE_KEY }}"

    # Checks that all Terraform configuration files adhere to a canonical format
    - name: Terraform Format
      if: steps.filter.outputs.terraform == 'true' || github.event.inputs.force_deploy == 'true'
      run: terraform fmt -check

    # Generates an execution plan for Terraform
    - name: Terraform Plan
      if: steps.filter.outputs.terraform == 'true' || github.event.inputs.force_deploy == 'true'
      run: terraform plan

      # On push to master, build or change infrastructure according to Terraform configuration files
      # Note: It is recommended to set up a required "strict" status check in your repository for "Terraform Cloud". See the documentation on "strict" required status checks for more information: https://help.github.com/en/github/administering-a-repository/types-of-required-status-checks
    - name: Terraform Apply
      if: (steps.filter.outputs.terraform == 'true' || github.event.inputs.force_deploy == 'true') && github.ref == 'refs/heads/master' && (github.event_name == 'push' || github.event.inputs.force_deploy == 'true')
      run: terraform apply -auto-approve

  hugo:
    name: '[Hugo] Build & Deploy'
    runs-on: ubuntu-latest
    needs: terraform
    permissions:
      id-token: write
      contents: read
    defaults:
      run:
        shell: bash
        working-directory: blog

    steps:
    - uses: actions/checkout@v4
    - uses: dorny/paths-filter@v3
      id: filter
      with:
        filters: |
          web:
            - 'blog/**'

    - name: Update Git Submodules
      working-directory: ./
      run: git submodule update --init --recursive

    - name: Setup Hugo
      uses: peaceiris/actions-hugo@v3
      with:
        hugo-version: 'latest'
        # extended: true

    - name: Build
      if: steps.filter.outputs.web == 'true' || github.event.inputs.force_deploy == 'true'
      run: hugo

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v5
      with:
        role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
        aws-region: eu-west-1
        output-env-credentials: true

    - name: get caller identity2
      run: |
        aws sts get-caller-identity

    - name: Sync directory to S3
      if: (steps.filter.outputs.web == 'true' || github.event.inputs.force_deploy == 'true') && github.ref == 'refs/heads/master' && (github.event_name == 'push' || github.event.inputs.force_deploy == 'true')
      run: |
        aws s3 sync public s3://${{ secrets.AWS_S3_BUCKET }} --delete

    - name: Invalidate cache for CloudFront distribution
      if: (steps.filter.outputs.web == 'true' || github.event.inputs.force_deploy == 'true') && github.ref == 'refs/heads/master' && (github.event_name == 'push' || github.event.inputs.force_deploy == 'true')
      run: |
        for id in $(aws cloudfront list-distributions --query "DistributionList.Items[*].{id:Id,origin:Origins.Items[0].Id}[?origin=='${{ secrets.AWS_S3_BUCKET }}'].id" --output text);do aws cloudfront create-invalidation --distribution-id $id --paths "/*";done;
